body{
  background-image: url(images.jpeg);


}
/* Style for the header */
h1 {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #075e54;
  margin-top: 30px;
}
.logout{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  

}
#logout-button{
  padding: 10px;
  background-color: #20148b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Style for the chat container */
#chat-container {
  height: 700px;
  border: 1px solid #ddd;
  overflow-y: scroll;
  padding: 10px;
  margin: auto;
  text-align: right;
  background-image: url(whatssapp.webp);
width: 500px;
border-radius: 7px;


}



/* Style for the input container */
#input-container {
  display: flex;
  justify-content: center;
text-align: center;
margin-top: 10px;
  
}

/* Style for the message input field */
#message-input {
  width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #0e0e0f;
  color: white;
  
}

/* Style for the send button */
#send-button {
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
 font-size: 16px;
 background-color: green;
 padding: 10px;



}

#chat{
  color:rgb(6, 14, 6);
 /* display:inline-flex;
  flex-direction: column;*/

  
}


label{
  margin: 10px 0;
  padding: 10px;
  color: rgb(187, 180, 180);
  border-radius: 10px;

}


.text-right{
  text-align: right;
  margin:10px 5px;
 


}
.text-left{
  text-align: left;
  margin: 10px 5px;
  
  }
.current-user{
  background-color:#043927;
  border: 2px solid #0c2402;
 
}

.old-user{
  background-color:#3a3b3d;
  border: 2px solid #3a3b3d;
  display: inline-flex;

}
small{
  color:aqua;
}